# this is a comment

#files to ignore

ignore_this_file_1.txt
test_dir/ignore_this_file_2.txt
ignore_this_folder/*
ignore_this_file_4.txt

#excluzi - i.e. ignori
/ignore_test/ignora-ma.txt
#/ignore_test/

**/ignora-ma.txt

#URMATOAREA NU MERGE DIN CAUZA FOLDERULUI
# quirk (capriciu)  in Git, you can not negate a file that is ignored due to a pattern matching a directory
#NU MERGE ASA DIN PACATE -> negi pattern - adica incluzi excluderea precendenta de mai sus
#!**/ignore_test/ignora*


#! => negates the pattern [make it avaliable again]
# \# and \! are normal characters
# / is directory eparator
